<!--<div class="error" *ngIf="error | async">{{ error | async}}</div>-->

<!--<mat-progress-spinner-->
<!--  *ngIf="loading | async else thArea"-->
<!--  mode="indeterminate"-->
<!--&gt;</mat-progress-spinner>-->

<!--<ng-template #thArea>-->
<!--  <div fxLayout="row wrap" fxLayoutGap="16px grid">-->
<!--    <div-->
<!--      fxFlex.xs="100%"-->
<!--      fxFlex.sm="50%"-->
<!--      fxFlex.lt-lg="33%"-->
<!--      fxFlex="25%"-->
<!--      *ngFor="let t of trackHistor | async"-->
<!--    >-->
<!--      <mat-card>-->
<!--        <mat-card-title>{{ trackHistory.user }}</mat-card-title>-->
<!--        <mat-card-content>-->
<!--            <p>{{ trackHistory.track }}</p>-->
<!--        </mat-card-content>-->
<!--        <mat-divider></mat-divider>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
