<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Albums</h1>
  <a routerLink="/new-album" mat-button *appHasRoles="['admin', 'user']">New album</a>
  <a routerLink="/new-artist" mat-button *appHasRoles="['admin', 'user']">New artist</a>
  <a routerLink="/new-track" mat-button *appHasRoles="['admin', 'user']">New track</a>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else albumsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #albumsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let album of albums | async"
    >
      <mat-card>
        <mat-card-title>{{ album.title }} </mat-card-title>
        <br>
        <span *appHasRoles="['admin']">Published: {{ (album.isPublished === true) ? 'Not pub' : 'Pubd' }}</span>
        <img
          style="border-radius: 10%"
          [src]="album.image | image"
          [alt]="'Photo of ' + album.title" mat-card-image/>
        <br>
        <mat-card-content>
          <p style="text-align: center">
            <span><strong style="font-size: 20px; text-align: center">{{album.artist.name}}</strong></span> &nbsp;
            <span style="font-weight: bold; color: white">Release: {{ album.release }}</span>
            <button
              mat-icon-button
              color="warn"
              type="button"
              style="margin-left: 10px"
              (click)="onDeleteAlbum(album._id)"
              *appHasRoles="['admin']"
            >Delete Album?
            </button>
          </p>
          <button
            mat-icon-button
            color="primary"
            type="button"
            (click)="onPublish(album._id)"
            *appHasRoles="['admin']"
          >Publish new album?</button>
        </mat-card-content>

        <mat-list>
          <mat-action-list>
          <mat-list-item *ngFor="let track of tracks | async" fxLayoutAlign="space-between center">
            <button (click)="onAdd(track._id)">
              {{ track.trackname }}
              <span style="align-self: auto" class="material-icons">play_arrow</span>
            </button>
            <span><p style="margin-left: 6px">
              {{ track.duration }}
            </p></span>
            <button
              mat-icon-button
              color="warn"
              type="button"
              name="delBtn"
              (click)="onDelete(track._id)"
              fxLayoutAlign="flex-right"
              *appHasRoles="['admin']"
            >
              Delete track?
            </button>
          </mat-list-item>
          </mat-action-list>
        </mat-list>
      </mat-card>
    </div>
  </div>
</ng-template>
