<h1>New track</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{error | async}}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">

      <mat-form-field appearance="outline">
        <mat-label>New Track Title</mat-label>
        <input type="text" name="trackname" required matInput ngModel>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Artist:</mat-label>
        <mat-select name="album" required ngModel>
          <mat-option (click)="getAlbumsOptions(artist._id)" *ngFor="let artist of artists | async" [value]="artist._id">
            {{ artist.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Album:</mat-label>
        <mat-select name="album" required ngModel>
          <mat-option *ngFor="let album of albums | async" [value]="album._id">
            {{ album.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Duration:</mat-label>
        <input type="number" matInput ngModel name="duration"/>
      </mat-form-field>

      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
