<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Our stars</h1>
  <a routerLink="/new-album" mat-button *appHasRoles="['admin', 'user']">New album</a>
  <a routerLink="/new-artist" mat-button *appHasRoles="['admin', 'user']">New artist</a>
  <a routerLink="/new-track" mat-button *appHasRoles="['admin', 'user']">New track</a>
</div>

<div class="error" *ngIf="error | async">{{ error | async}}</div>


<mat-progress-spinner
  *ngIf="loading | async else artistsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #artistsArea>
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="50%" *ngFor="let artist of artists | async">
      <mat-card-title
        style="font-size: 15px; text-align: center"
      >{{ artist.name }}
      </mat-card-title>
      <a [routerLink]="['/albums', artist._id]">
        <mat-card>
          <img
            style="border-radius: 50%"
            [src]="artist.image | image"
            [alt]="'Photo of ' + artist.name"
            width="300"
            height="80"
            mat-card-md-image/>
          <br>
          <mat-card-subtitle *appHasRoles="['admin']">{{ (artist.isPublished === true) ? 'Not pub': 'Pubd' }}</mat-card-subtitle>
          <mat-card-content>
            <p>{{ artist.information}}</p>
          </mat-card-content>
        </mat-card>
        <button
          type="button"
          style="background-color: gray"
          (click)="onDelete(artist._id)"
          *appHasRoles="['admin']"
        >Delete artist?
        </button>&nbsp;

        <button
          type="button"
          style="background-color: gray"
          (click)="onPublishArtist(artist._id)"
          routerLink="/"
          *appHasRoles="['admin']"
        >
          Publish artist?
        </button>
      </a>
    </div>
  </div>
</ng-template>
