<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else tracksArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #tracksArea>
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="50%" *ngFor="let track of tracks | async">
      <h3
        style="font-size: 15px; text-align: center"
      >{{ track.trackname }}
      </h3>
      <h5>{{ track.duration }}</h5>
      <a [routerLink]="['/tracks', track._id]">Get track</a>
      <button
        mat-icon-button
        color="primary"
        type="button"
        (click)="onPublishTrack(track._id)"
      >Publish track?</button>
    </div>

  </div>
</ng-template>
