<mat-card>
  <mat-card-content>

    <div class="error" *ngIf="error | async">
      {{error | async}}
    </div>

    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Album Title</mat-label>
        <input type="text" name="title" required matInput ngModel>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Artists:</mat-label>
        <mat-select name="artist" required ngModel>
          <mat-option *ngFor="let artist of artists | async" [value]="artist._id">
            {{ artist.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Year of release:</mat-label>
        <input type="number" matInput ngModel name="release"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Image:</mat-label>
        <app-file-input name="image" ngModel></app-file-input>
      </mat-form-field>

      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >SAVE</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
